= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :rabbitmq
    = instance_field :keystone
    = instance_field :nova
    = instance_field :heat
    = instance_field :glance
    = instance_field :neutron
    = instance_field :cinder

    %fieldset
      %legend
        = t(".store_header")
      = select_field :ceph_internal_external, :collection => :default_location_for_ceph, "data-showit" => "internal"

    %fieldset
      = boolean_field :use_barbican_key_manager
