= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :cinder
    = instance_field :glance
    = instance_field :nova
    = instance_field :keystone

    %fieldset
      %legend
        = t(".ses_header")
      = select_field :config_format, :collection => :default_format_for_config, "data-showit" => "yaml"
      = select_field :ceph_internal_external, :collection => :default_location_for_ceph, "data-showit" => "internal"

      %legend
        = t(".yaml_header")
      = text_field %w(yaml_file)
